<!DOCTYPE html>
<html>
  <head>
    <title>Village</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>

    <div id="site-title">
      <%= link_to '/' do %>
      <%= image_tag 'https://cdn-icons.flaticon.com/png/512/4502/premium/4502682.png?token=exp=1649309869~hmac=a52e47f1edd4c814776039c45a711b44', :id => 'query-button', :class => 'nav-button'%>
      <% end %>
      <span id="site-header"><i>Village</i></span>

      <%= link_to submissions_new_path do %>
      <%= image_tag 'https://img.icons8.com/external-tanah-basah-detailed-outline-tanah-basah/344/external-plus-user-interface-tanah-basah-detailed-outline-tanah-basah.png', :id => 'submission-button', :class => 'nav-button', data: { "turbo-frame": "modal" } %>
      <% end %>
    </div>

    <div id="navigation">
      <h4><%= link_to 'noticeboard', "/" %> / <%= link_to 'sift', "/sift" %></h4>
    </div>

    <%= yield %>
    <%= @days_running %>.

  </body>
</html>
